@mixin font-title {
  @media screen and (max-width: 992px) {
    font-size: 36px;
    margin-bottom: 30px;
  }

  @media screen and (max-width: 768px) {
    font-size: 24px;
  }
}

@mixin font-text {
  font-size: 20px;

  @media screen and (max-width: 992px) {
    font-size: 18px;
  }

  @media screen and (max-width: 768px) {
    font-size: 16px;
  }
}

.contact_container {
  max-width: 1280px;
  margin: auto;
  padding: 0 20px;
  color: white;
  font-family: mont-regular;
  margin-bottom: 50px;
}

.contact_title {
  font-size: 40px;
  font-family: mont-bold;
  font-weight: 700;
  margin-bottom: 20px;

  @include font-title;
}

.contact_form_container {
  display: grid;
  grid-template-columns: 1.4fr 0.6fr;
  gap: 50px;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.contact_form {
  max-width: 783px;
  padding: 44px 30px;
  background-color: #535681;
  border-radius: 20px;

  @media screen and (max-width: 992px) {
    padding: 20px 10px;
  }
}

.contact_highlight {
  font-family: mont-bold;
  font-weight: 700;
}

.contact_form_name {
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: 400;

  @include font-title;
}

.contact_form_benefit {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 50px;
}

.contact_benefit_container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact_benefit_bullet {
  min-width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #2c9af8;
  box-shadow: 0px 0px 9px 0px #2e76e6;

  box-shadow: 0px 0px 18px 0px #2e76e6;

  box-shadow: 0px 0px 63px 0px #2e76e6;

  box-shadow: 0px 0px 126px 0px #2e76e6;

  box-shadow: 0px 0px 216px 0px #2e76e6;

  box-shadow: 0px 0px 378px 0px #2e76e6;
}

.contact_benefit_name {
  @include font-text;
}

.contact_input_container {
  display: flex;
  gap: 50px;
  margin-bottom: 10px;

  @media screen and (max-width: 480px) {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.contact_input {
  padding: 14px 10px;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #313854;
  color: white;
  @include font-text;
}

.contact_form_btn {
  display: flex;
  align-items: center;
  gap: 11px;
  padding: 12px 20px;
  background-color: #00aad2;
  border-radius: 10px;
  cursor: pointer;
  @include font-text;

  @media screen and (max-width: 480px) {
    justify-content: center;
  }
}

.contact_agg_container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact_agg_checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-width: 32px;
  height: 32px;
  border-radius: 10px;
  background-color: #222c41;
}

.contact_agg_checkbox:checked {
  background-image: url("../../../../assets/icons/checked.png");
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
}

.contact_social {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;

  @media screen and (max-width: 768px) {
    flex-direction: row;
  }
}

.contact_phone {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.contact_phone_name {
  font-size: 32px;
  font-family: mont-bold;

  @media screen and (max-width: 768px) {
    font-size: 24px;
    text-align: center;
  }
}

.contact_number_container {
  display: flex;
  align-items: center;
  gap: 11px;
  font-size: 18px;
  font-family: mont-bold;
  font-weight: 700;

  @media screen and (max-width: 768px) {
    font-size: 16px;
  }
}

.contact_schedule {
  font-size: 16px;

  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
}

.contact_media {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact_tg_container {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #232738;
  box-shadow: 0px 0px 10px 2px #2f3a56;
  border-radius: 50%;
  cursor: pointer;
}
